{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'remote/css/player.css' %}" type="text/css" />
    </head>
    <body>
        <input type="image" class="remote-button" src="{% static 'remote/images/back.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/play.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/forward.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/previous.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/stop.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/next.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/mute.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/volmin.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/volplus.jpg' %}"  />
    </body>
</html>