{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'remote/css/player.css' %}" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="{% static 'remote/js/player.js' %}">var pause_url={% url 'remote:pause' %}</script>
    </head>
    <body>
        <input type="image" class="remote-button" src="{% static 'remote/images/back.jpg' %}"  />
        <input id="play-pause" type="image" class="remote-button" src="{% static 'remote/images/play.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/forward.jpg' %}"  />
        <br>
        <input type="image" class="remote-button" src="{% static 'remote/images/previous.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/stop.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/next.jpg' %}"  />
        <br>
        <input type="image" class="remote-button" src="{% static 'remote/images/mute.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/volmin.jpg' %}"  />
        <input type="image" class="remote-button" src="{% static 'remote/images/volplus.jpg' %}"  />
    </body>
</html>